#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa toda la altura disponible */
    width: 100%; /* Ocupa todo el ancho disponible */
}

#message {
    font-family: Arial;
    font-size: 16px;
    color: #000000;
    background-color: transparent;
}