body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#geotabAddin {
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    transition: background-color 0.2s;
}

li:hover {
    background-color: #f0f0f0;
}