body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#geotabAddin {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #008cff;
    padding: 10px;
    color: white;
}

.container {
    display: flex;
    flex: 1;
}

#panelIzquierdo {
    width: 30%;
    background: #f0f0f0;
    padding: 10px;
    overflow-y: auto;
}

#panelDerecho {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1;
    background-color: #d3d3d3; /* Simular mapa */
}

#detallesFallo {
    background: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.estado {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}