/* CSS Scoped para evitar afectar la UI padre */
#geotabAddin {
    font-family: Arial, sans-serif;
    height: 100%; /* Usa el 100% de la altura del iframe */
    margin: 0;
    padding: 0;
}

#geotabAddin h2 {
    margin: 10px 0;
}

#vehicle-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#vehicle-list li {
    cursor: pointer;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

#vehicle-list li:hover {
    background-color: #f0f8ff;
}